<div class="page section">
    <div class="text-area">
        <h2>Правила сервера</h2>

        <ol>
            <li>Будьте
                <gms-link link="/gentleman" [showIcon]="false">джентльменом</gms-link>. Это не публичный сервер, а приватный. В скором времени вы все познакомитесь, и я хочу увидеть уважительное общение, на равных между участниками.</li>
            <li>На сервере и официальных ресурсах, связанных с ним (например, Discord) запрещен не только мат, но и ругательства любого вида. Принижение чужого достоинства любыми способами также запрещено.</li>
            <li>Каждый игрок обязан иметь хотя бы один участок в основном мире. Там необходимо разместить баннер с собственным ником. Таким образом, другим людям будет легче с вами связаться. Это также должно подтолкнуть вас не только к коллективным проектам,
                но и к собственным. </li>
            <li>На сервере запрещены постройки или изображения нецензурного характера.</li>
            <li>Разумеется, запрещено использование читов.</li>
            <li>Запрещено получение админских прав на сервере или любые попытки взлома.</li>
            <li>Запрещен дюп ценных ресурсов.</li>
            <li>Запрещено намеренное понижение производительности сервера.</li>
            <li>PVP на сервере разрешено, пока это не превращается в спаункил и бесконечное выбивание ресурсов из игроков. Помните, на любое действие найдётся противодействие :)</li>
            <li>На сервере запрещено гриферсво. Нельзя просто прийти и взорвать какую-нибудь постройку не в привате. Убить животных в загонах или взять и растащить все вещи из сундуков (и тому подобное). Обязательно уточните, что владелец / люди, живущие
                рядом, не будут против.</li>
            <li>НО, разрешены пранки. Например, оставив нажимную плиту с ТНТ (если это конечно не приведет к большой детонации) или например, перенести вещи и оставить записку с квестом. Запомните, от пранка должно быть весело не только вам, но и тому, над
                кем он произошел.</li>
            <li>И это нас приводит к самому главному правилу: если большинство игроков будет хотеть вашего бана, скорее всего вас забанят; и наоборот, если большинство будет против вашего бана, вас скорее всего не забанят.</li>
            <li>И в конце концов, вас не забанят не объяснив причины. В большинстве случаев вы получите первое предупреждение.</li>
        </ol>

        <p>
            * Разумеется, администрация оставляет за собой право изменить правила в любой момент.
        </p>
    </div>
</div>