.header-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: end;
    gap: 1em;
}

.skills-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

.player-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    cursor: help;
}

.player-grid>div:nth-child(3n+2) {
    padding: 0 3em;
}

@media screen and (max-width: 800px) {
    .skills-grid {
        grid-template-columns: 1fr;
        gap: 3em;
    }
}

@media screen and (max-width: 480px) {
    .player-grid>div:nth-child(3n+2) {
        padding: 0 0.2em;
    }
}