<div class="text-area">
    <h2>Плагины и особенности</h2>
    <div class="feture-list">
        <gms-gilded-blackstone>
            <p>
                Размер основного мира 16 000 x 16 000 (от -8 000; -8 000 до 8 000; 8 000). Он полностью загружен и имеет границу. В последствии может быть расширен.
            </p>
            <p>
                Адское и измерение Энда прогружены в области 8 000 x 8 000, но не ограничены границей. Будьте аккуратны при исследовании территорий за этими пределами, так как могут появиться небольшие подвисания.
            </p>
        </gms-gilded-blackstone>
        <gms-gilded-blackstone>
            <p>Измерение Энда в первое время будет закрыто. Это позволит развиться игрокам не спидраня игру и получить больше контента ранней игры. Через несколько недель после открытия, Энд будет торжественно открыт, и все желающие смогут поучаствовать
                в убийстве дракона.
            </p>
        </gms-gilded-blackstone>
        <gms-gilded-blackstone>
            <p>
                У сервера имеется свой собственный легковесный ресурспак.
            </p>
            <p>
                <i>Интересно, сколько же в нём отсылок?</i>
            </p>
        </gms-gilded-blackstone>
        <gms-gilded-blackstone>
            <p>
                На сервере присутствует уникальная
                <gms-link link="/plugins/plot">система приватов</gms-link>. Приват плотов (plot) с ней прост и удобен. Они также отображаются на карте сервера.
            </p>
            <p>
                Приват территории не обязателен, но он позволяет абсолютно и безоговорочно закрепить определённую территорию за Вами, а также это удобная возможность для быстрой телепортации.
            </p>
        </gms-gilded-blackstone>
        <gms-gilded-blackstone>
            <p>
                Основным плагином на сервере является
                <gms-link link="/plugins/mcmmo">MCMMO</gms-link>. Уверен, некоторые из вас про него слышали. Плагин добавляет RPG составляющую и механики, связанные с различными навыками, которые можно улучшать и повышать уровень в процессе игры.
            </p>
            <p>
                MCMMO предоставляет игрокам широкий спектр навыков, таких как добыча, деревообработка, горное дело, рыболовство, метание и т.д. Каждый навык имеет свою уникальную систему улучшения, которая позволяет игрокам получать дополнительные возможности и бонусы
                при повышении уровня навыка.
            </p>
        </gms-gilded-blackstone>
        <gms-gilded-blackstone>
            <p>
                Автоматизация, товарищи!
            </p>
            <p>
                Теперь чтобы создать
                <gms-link link="/plugins/autosorter">автоматическую сортировку</gms-link> вам не нужно использовать сотни воронок, хватит парочки, раздатчика и немного магии.
            </p>
            <p>
                Когда-нибудь приходилось крафтить стак раздатчиков или миллионы арбузных блоков? Тогда спешу вас обрадовать, на нашем сервере есть
                <gms-link link="/plugins/autocraft">автокрафтеры</gms-link>.
            </p>
        </gms-gilded-blackstone>
        <gms-gilded-blackstone>
            <p>
                На сервере есть волшебный торговец, у которого можно купить крайне уникальные вещи.
            </p>
            <p>
                Например, жетон на создание собственного магазина. Здесь я хотел бы обратить внимание, что благодаря плагину
                <gms-link link="/plugins/mcmmo">MCMMO</gms-link> каждый игрок сможет выбрать свой вектор для развития, в который он будет углубляться. А система магазинов поможет обмениваться эффективно и быстро
                <i>(купив жетон и взяв его в руки, в чате появится гайд по созданию магазина на русском языке)</i>.
            </p>
            <p>
                Также ядерные технологии позволили опередить время и добавить на сервер мешочек, кирку, ломающую один блок <i>(зато какой)</i>, а также лицензию на увеличение количества приватов.
            </p>
        </gms-gilded-blackstone>
        <gms-gilded-blackstone>
            <p>
                К слову, об экономике, есть изменения, повышающие сложность. Мне кажется, что это сделает экономику интереснее:
            </p>
            <p>
                Из Вызывателя (Evoker) и Поборника (Vindicator) при убийстве не будут выпадать изумруды.
            </p>
            <p>
                Максимальная скидка, которую могут дать жители это 20%.
            </p>
        </gms-gilded-blackstone>
        <gms-gilded-blackstone>
            <p>
                Хотите более эффективно заниматься сельским хозяйством или шахтерской деятельностью? А может хотите быстро выкопать большой участок земли или камня?
            </p>
            <p>
                4 новых
                <gms-link link="/plugins/enchantments">зачарования</gms-link> помогут вам в этом.
            </p>
        </gms-gilded-blackstone>
        <gms-gilded-blackstone>
            <p>
                И другие улучшения качества жизни и расширения геймплея:
            </p>
            <ul>
                <li>Возможность использовать цвета в чате и
                    <gms-link link="/plugins/colors">цветовые коды</gms-link> в названиях в наковальне;</li>
                <li>С мобов и игроков выпадают головы;</li>
                <li>Возможность открывать шалкера не устанавливая их;</li>
                <li>
                    <gms-link link="/plugins/emote-craft">EmoteCraft</gms-link>;
                </li>
                <li>Возможность менять скины командой /skin;</li>
                <li>Превращение обычных рамок в невидимые, нажатием SHIFT + ПКМ;</li>
                <li>Возможность сидеть и залазить на других игроков;</li>
                <li>Создание простых
                    <gms-link link="/plugins/lift">лифтов</gms-link>;</li>
                <li>Редактирование стоек с броней с помощью кремния;</li>
                <li>Можно кататься на коровах. Стоп, что?</li>
                <li>Создание портала из блоков плачущего обсидиана;</li>
                <li>Возможность
                    <gms-link link="/plugins/skip">пропускать день или ночь</gms-link> с помощью голосования;</li>
            </ul>
        </gms-gilded-blackstone>
        <gms-gilded-blackstone>
            <p>
                Обязательно посетите потрясающую
                <gms-link link="/map">онлайн карту сервера</gms-link>. На ней отображаются приваты игроков, а также установив названный баннер в мире майнкрафта, он добавится на карту.
            </p>
        </gms-gilded-blackstone>
    </div>
</div>