.copy-content {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    user-select: none;
    color: var(--gold)
}

.copy-content:hover {
    color: var(--dark);
}

.copy-content svg {
    width: 18px;
    height: 18px;
    display: inline-flex;
    fill: currentColor;
}

.tooltip-block {
    position: absolute;
}