<div class="page info-feed">
    <div class="section info-grid">
        <div class="image-area">
            <gms-icon [glow]="true"></gms-icon>
        </div>
        <div id="short-info" class="text-area text-center">
            <h2>Краткая информация</h2>
            <div>
                <p>Версия Minecraft: 1.19.3</p>
                <p>IP адрес:
                    <gms-copy>{{ serverAdress }}</gms-copy>
                </p>
                <p>Модов нет</p>
                <p>Доступ по вайтлисту</p>
                <p>Лицензия не требуется</p>
                <p *ngIf="!isOpen">Открытие {{ openDateTimeText }}<br><i>(в вашем часовом поясе)</i></p>
                <p *ngIf="isOpen && currentOnline">Сервер онлайн: {{ currentOnline }}</p>
                <p>Наш
                    <gms-link link="/discord">Discord</gms-link>
                </p>
            </div>
        </div>
    </div>
    <div class="section info-grid inverted">
        <div class="text-area">
            <h2>О сервере</h2>
            <p>Сервер Позолоченный Арбуз — это приватный Minecraft сервер, на котором я хочу собрать разных людей, с которыми я знаком и не только.</p>
            <p>В первую очередь это эксперимент. Но я стремлюсь создать сервер моей мечты: на котором люди могли бы воплотить свои идеи и постройки в любых стилях; вести общение и строить экономику без навязанной сервером валюты; и просто наслаждаться уникальными
                механиками сервера.</p>
            <p>Это мой первый проект такого <i>(хоть и небольшого)</i> масштаба. Поэтому мне тяжело давать какие-либо гарантии. Но я не планирую закрывать сервер, пока на нём будет играть хотя бы 1 человек. А также для меня важно отсутствие вайпов — это
                значит, что при переходе на новую версию, карта останется старой, но будет расширена.</p>
            <p>
                На создание и запуск этого сервера я потратил 3 месяца. Была проделана большая работа и текущее состояние меня устраивает. Это значит, что я не планирую в течение игры менять набор плагинов и правил.
            </p>
            <p>Желаю совсем скоро увидеть вас на сервере!</p>
        </div>
        <div class="image-area">
            <gms-icon type="book" [glow]="true"></gms-icon>
        </div>
    </div>
    <div class="section">
        <gms-features></gms-features>
    </div>
</div>